@import '~sass/_variables';

.form-search {
  min-width: 400px;
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 3%;
}

.searchbar {
  background-color: white;
  flex: 1;
  border: solid 1px #ccc;
  min-height: 26px;
  max-height: 26px;
  padding-left: 2%;
}

.searchButton {
  flex: 0.15;
  cursor: pointer;
  min-height: 30px;
  border: solid 1px $primary-color;
  background-color: $primary-color;
}

.searchButton:hover {
  opacity: 0.7;
}

.fa-search {
  background-color: $primary-color;
  color: white;
}
