<div class="event-avatar" (click)="onClick()">
  <div class="thumbnail" (click)="onClick()">
    <img src="assets/img/show_thumb.jpg" alt="{{event.venue.name}}" />
  </div>
</div>
<div class="event-content" (click)="onClick()">
  <div class="event-title">
    {{event.venue.name}}
  </div>
  <span class="event-location">
    {{event.venue.city}} {{event.venue.region}} {{event.venue.country}}
  </span>
</div>
<div class="event-side" (click)="onClick()">
  <span class="event-date" aria-hidden="true">
    <span class="fa fa-calendar-check-o" aria-hidden="true">
    </span><br>
    {{event.date}}
  </span>
  <span class="event-info" [ngStyle]="{'background-color': event.statusColor}">
    {{event.status}}
  </span>
</div>
