<img src="{{artist.imageUrl}}"/>
<div class="card-content">
  
  <div class="data">
    <span class="title">
      {{artist.name}}
    </span>
  </div>

  <div *ngIf="artist.facebook" class="data facebook">
    <a href="{{artist.facebook.url}}">
      <span *ngIf="artist.facebook.likes"class="fa fa-facebook fa-lg" aria-hidden="true">
       {{artist.facebook.likes}}
      </span>
      <span class="fa fa-thumbs-up fa-lg like" aria-hidden="true">
      </span>
    </a>
  </div>

  <span *ngIf="artist.facebook">
    <div *ngIf="artist.facebook.genre" class="data genre">
      Genre: {{artist.facebook.genre}}
    </div>
    <div *ngIf="artist.facebook.website" class="data-website">
      <a href="{{artist.facebook.website}}">Official Website</a>
    </div>
  </span>
</div>
