<div class="filter-calendar">
  <span *ngIf="!isSelected" class="fa fa-calendar" aria-hidden="true" (click)="onCalendarSelected()"> <span>View calendar</span></span>
  <span *ngIf="isSelected" (click)="onCalendarSelected()"> <span>List Events</span></span>
</div>
<div class="filter-sort">
  Sort by:
  <select name="sort" (change)="onChange($event.target.value)">
    <option value="(none)">
      (none)
    </option>
    <option value="asc">
      date: newest first
    </option>
    <option value="desc">
      date: oldest first
    </option>
  </select>
</div>
