<div class="filter-calendar">
  <span class="fa fa-calendar" aria-hidden="true"> <span>View calendar</span></span>
</div>
<div class="filter-group">
  Group by:
  <select name="group">
    <option value="none">
      (none)
    </option>
    <option value="date">
      date
    </option>
    <option value="country">
      country
    </option>
  </select>
</div>
<div class="filter-sort">
  Sort by:
  <select name="sort">
    <option value="none">
      (none)
    </option>
    <option value="date">
      date: newest first
    </option>
    <option value="date">
      date: oldest first
    </option>
  </select>
</div>
